body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

#countryFilter {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}

.charts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Отступ перед таблицей */
}

canvas {
    max-width: 500px;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
}

td input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}